
CreateAnagramsApp/.classpath
CreateAnagramsApp/bin/.project
CreateAnagramsApp/.project
CreateAnagramsApp/bin/ua/com/foxminded/anagramsapp/Anagram.class
CreateAnagramsApp/bin/ua/com/foxminded/anagramsapp/AnagramApp.class
CreateAnagramsApp/src/.project
CreateAnagramsApp/bin/ua/com/foxminded/anagramsapp/AnagramTest.class
